*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,Arial,sans-serif;

}



html{

scroll-behavior:smooth;

}



body{

background:#020617;
color:white;

}




/* HEADER */


header{

position:fixed;

top:0;

width:100%;

background:rgba(15,23,42,.85);

backdrop-filter:blur(10px);

z-index:1000;

}



nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 8%;

}




.logo{

display:flex;

align-items:center;

gap:15px;

}



.logo-box{

width:65px;

height:65px;


display:flex;

justify-content:center;

align-items:center;


background:linear-gradient(

135deg,

#06b6d4,

#2563eb

);


border-radius:50%;


font-size:28px;

font-weight:800;


box-shadow:

0 0 30px #38bdf8;


}



.logo small{

color:#94a3b8;

letter-spacing:2px;

}




ul{

display:flex;

gap:25px;

list-style:none;

}



ul a{

color:white;

text-decoration:none;

transition:.3s;

}



ul a:hover{

color:#38bdf8;

}







/* HOME */


.home{


min-height:100vh;


display:flex;


align-items:center;


justify-content:space-between;


padding:120px 8%;


}




.home-text{

width:50%;

}



.tag{

color:#38bdf8;

font-size:18px;

}



.home h1{

font-size:65px;

margin:15px 0;

}



.home h1 span{

color:#38bdf8;

}



.home h2{

color:#38bdf8;

margin-bottom:20px;

}



.home p{

color:#cbd5e1;

line-height:1.8;

font-size:17px;

}





.buttons button{


padding:15px 35px;


margin-top:25px;


border-radius:30px;


border:none;


background:#38bdf8;


cursor:pointer;


font-weight:bold;


}



.outline{


background:transparent!important;


border:2px solid #38bdf8!important;


color:white;


}







.social{

margin-top:30px;

}



.social a{


display:inline-block;


padding:10px 20px;


margin:5px;


border:1px solid #38bdf8;


border-radius:30px;


color:#38bdf8;


text-decoration:none;


transition:.3s;


}



.social a:hover{


background:#38bdf8;


color:#020617;


}





.profile img{


width:350px;


height:350px;


border-radius:50%;


object-fit:cover;


border:5px solid #38bdf8;


box-shadow:

0 0 40px #38bdf8;


}








/* ALL SECTIONS */


section{

padding:90px 8%;

}



section h1{

text-align:center;

font-size:42px;

margin-bottom:40px;

}





/* ABOUT */


.about-box{


max-width:900px;


margin:auto;


padding:40px;


background:#1e293b;


border-radius:25px;


border:1px solid #334155;


box-shadow:

0 20px 40px rgba(0,0,0,.4);


}




.about-type{


color:#38bdf8;


font-size:30px;


margin-bottom:25px;


}



.about-box p{


color:#cbd5e1;


line-height:1.8;


margin-top:20px;


font-size:17px;


}



.about-box p::before{


content:"▹";


color:#38bdf8;


margin-right:10px;


}









/* SKILLS */


.cards{


display:grid;


grid-template-columns:

repeat(auto-fit,minmax(250px,1fr));


gap:25px;


}




.card{


background:#1e293b;


padding:30px;


border-radius:20px;


border:1px solid #334155;


transition:.4s;


}




.card:hover{


transform:translateY(-10px);


box-shadow:

0 10px 30px rgba(56,189,248,.2);


}




.card h2{


color:#38bdf8;


margin-bottom:15px;


}



.card p{


color:#cbd5e1;


line-height:1.8;


}








/* PROJECTS */


.project-container{


display:grid;


grid-template-columns:

repeat(auto-fit,minmax(250px,1fr));


gap:25px;


}



.project{


background:#1e293b;


padding:30px;


border-radius:20px;


border:1px solid #334155;


transition:.4s;


}



.project:hover{


transform:translateY(-10px);


}




.project h2{


color:#38bdf8;


}



.project p{


color:#cbd5e1;


line-height:1.7;


margin:15px 0;


}



.project a{


color:#38bdf8;


text-decoration:none;


}








/* CONTACT */


form{


max-width:600px;


margin:auto;


display:flex;


flex-direction:column;


gap:20px;


}




input,textarea{


padding:15px;


background:#1e293b;


border:none;


border-radius:10px;


color:white;


}




textarea{


height:150px;


}



form button{


padding:15px;


background:#38bdf8;


border:none;


border-radius:30px;


cursor:pointer;


}








/* FOOTER */


footer{


background:#020617;


text-align:center;


padding:25px;


}



footer a{


color:#38bdf8;


}









/* MOBILE */


@media(max-width:900px){


nav{

flex-direction:column;

gap:20px;

}



ul{

flex-wrap:wrap;

justify-content:center;

}



.home{


flex-direction:column;


text-align:center;


}



.home-text{


width:100%;


}



.profile img{


width:250px;


height:250px;


margin-top:40px;


}



.home h1{

font-size:45px;

}


}






/* CONNECT */


#connect{

text-align:center;

padding:90px 8%;

}



#connect h1{

text-align:center;

font-size:42px;

margin-bottom:40px;

}





.connect-box{


max-width:900px;


margin:auto;


padding:40px;


background:#1e293b;


border-radius:25px;


border:1px solid #334155;


box-shadow:

0 20px 40px rgba(0,0,0,.4);


}





.connect-box p{


color:#cbd5e1;


line-height:1.8;


font-size:17px;


}





.connect-buttons{


margin-top:30px;


display:flex;


justify-content:center;


gap:20px;


flex-wrap:wrap;


}




.connect-buttons a{


display:inline-block;


padding:12px 25px;


border:1px solid #38bdf8;


border-radius:30px;


color:#38bdf8;


text-decoration:none;


transition:.3s;


font-weight:bold;


}




.connect-buttons a:hover{


background:#38bdf8;


color:#020617;


transform:translateY(-5px);


}