*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,Arial;

}


body{

background:#0f172a;
color:white;

}



header{

position:fixed;
top:0;
width:100%;
background:#0f172acc;
backdrop-filter:blur(10px);
z-index:1000;

}




nav{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;

}





.logo-box{

width:65px;
height:65px;

display:flex;

align-items:center;

justify-content:center;


background:

linear-gradient(
135deg,
#06b6d4,
#2563eb
);


border-radius:50%;


font-size:28px;

font-weight:800;


letter-spacing:2px;


color:white;


box-shadow:

0 8px 30px rgba(56,189,248,0.4);


position:relative;


}



.logo-box::after{


content:"";

position:absolute;


inset:5px;


border:2px solid rgba(255,255,255,0.4);


border-radius:50%;


}



.logo h2{

font-size:24px;

font-weight:700;

}



.logo small{

color:#94a3b8;

font-size:13px;

letter-spacing:1px;

}



ul{

display:flex;
gap:25px;
list-style:none;

}


ul a{

color:white;
text-decoration:none;

}



ul a:hover{

color:#38bdf8;

}





.home{

min-height:100vh;
display:flex;
align-items:center;
justify-content:space-between;
padding:120px 8%;

}



.home-text{

width:50%;

}


.tag{

color:#38bdf8;

}



.home h1{

font-size:60px;

}



.home h1 span{

color:#38bdf8;

}



.home h2{

color:#38bdf8;
margin:20px 0;

}



.home p{

color:#cbd5e1;
line-height:1.8;

}




button{

padding:14px 30px;
margin-top:25px;
border-radius:30px;
border:none;
background:#38bdf8;
cursor:pointer;

}



.outline{

background:none;
border:2px solid #38bdf8;
color:white;

}





.social{

margin-top:30px;

}



.social a{

display:inline-block;
padding:10px 20px;
border:1px solid #38bdf8;
border-radius:30px;
margin:5px;
color:#38bdf8;
text-decoration:none;

}



.social a:hover{

background:#38bdf8;
color:#0f172a;

}




.profile img{

width:330px;
height:330px;
border-radius:50%;
border:5px solid #38bdf8;
object-fit:cover;

}





section{

padding:90px 8%;

}



section h1{

text-align:center;
font-size:40px;
margin-bottom:40px;

}





.about-box,
.card,
.project{

background:#1e293b;
padding:30px;
border-radius:20px;

}



.about-box p{

margin-top:20px;
color:#cbd5e1;
line-height:1.8;

}



.cards,
.project-container{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;

}




.card:hover,
.project:hover{

transform:translateY(-10px);

}



.card h2,
.project h2{

color:#38bdf8;

}



.project a{

color:#38bdf8;

}




form{

max-width:600px;
margin:auto;
display:flex;
flex-direction:column;
gap:20px;

}



input,textarea{

padding:15px;
background:#1e293b;
border:none;
color:white;
border-radius:10px;

}



textarea{

height:150px;

}




footer{

text-align:center;
padding:25px;
background:#020617;

}


footer a{

color:#38bdf8;

}




@media(max-width:900px){


nav{

flex-direction:column;

}



.home{

flex-direction:column;
text-align:center;

}



.home-text{

width:100%;

}



.profile img{

width:250px;
height:250px;

}



ul{

flex-wrap:wrap;

}


}